* {
  background-color: #f8f8f3;
  color: #000000;
}

.roleName {
  background-color: white;
}
.name {
  background-color: white;
}
.about {
  background-color: white;
}
.card-title {
  color: #000000;
}
.contentBorder {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.projectsContent {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.imageContainer {
  margin: 0px, 0px, 0px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid rgb(255, 217, 28);
  overflow: hidden;
  margin-bottom: 0px;
}

.contactimg{
  margin: 0px, 0px, 0px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid rgb(255, 217, 28);
  overflow: hidden;
  margin-bottom: 0px;
}

.contactimg img {
  height: 280px;
  width: 190px;
  margin-top: -20px;
}

.img-thumbnail {
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  border: none;
  outline: none;
  padding: 0px;
}

.yellowButton {
  background-color: rgb(255, 217, 28);
  color: #000000;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px; 
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 5px;
}

.yellowButton:hover {
  background-color: #e6b800;
}

.buttonContainer {
  background-color: white;
}

.transparentButton {
  background-color: transparent;
  border: 2px solid rgb(255, 217, 28);
  color: rgb(255, 217, 28);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px; 
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.transparentButton:hover {
  background-color: #ffcc00;
  color: white;
}

.name {
  font-weight: bold;
}
.roleName {
  color: rgb(255, 217, 28);
}

.projectCard {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectCard h5 {
  background-color: white;
  color: #ffcc00;
}

.projectCard h4 {
  background-color: white;
  font-weight: bold;
}

.textContent {
  background-color: white;
}

.textContent h4 {
  background-color: white;
  color: #000000;
  font-weight: bold;
}

.textContent p,h6,li  {
  background-color: white;
}

.projectsContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.textContent {
  flex: 1;
}

.projectImage {
  max-width: 500px;
  height: auto;
  border-radius: 15px;
  flex-shrink: 0;
}

.link {
  color: #000000;
}

.projectButtonLink {
  background-color: white;
}

.nav {
  background-color: #f8f8f3;
}

.nav a {
  background-color: #f8f8f3;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
