
.typing-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  gap: 3rem;
  text-align: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}


.typing-left, .typing-right {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}


.typing-subtitle {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 1rem;
}


.animate-typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid white;
  padding-right: 1rem;
  font-size: 2.3rem;
  font-weight: bold;
  color: white;
  width: 38ch;
  animation: typing 3s steps(38) 1s 1 normal both, blink 0.7s infinite;
  margin-bottom: 1.5rem;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.social-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.linkedin-button {
  background-color: #0A66C2;
}
.linkedin-button:hover {
  background-color: #000;
}

.github-button {
  background-color: #333;
}
.github-button:hover {
  background-color: #000;
}


.profile-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.skills{
  position: relative;
  z-index: 1;
  color: white; 
  text-align: center;
  padding-top: 100px;
}




@media (max-width: 768px) {
  .typing-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .animate-typing {
    font-size: 1.8rem;
    width: 100%;
  }

  .profile-image {
    max-width: 250px;
  }
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 38ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
